body {
  background-color: #212121;
}
input,
#current-city {
  text-align: left;
  margin: 8px 10px auto 8px;
}
input,
.container,
.WeatherDataNow,
#current-city {
  border: solid 2px #cceffc;
  border-radius: 5px;
  box-shadow: 1px 1px #212121;
}
hr {
  color: #212121;
  border: solid 1px #212121;
  text-shadow: 1px 1px #212121;
}

.container {
  max-width: 500px;
  background-image: url(/src/rosa.png);
  background-position: bottom;
  font-family: "Comfortaa", cursive;
  text-align: center;
  color: #212121;
  margin: 20px auto;
  display: block;
}

.button {
  background-color: #cceffc;
  color: #212121;
  margin: 2px 4px;
  padding: 2px;
  box-shadow: 1px 1px #212121;
  transition: 250ms ease-in-out;
}
.button:hover {
  background-color: whitesmoke;
  border-color: whitesmoke;
}
.CityName,
.TemperatureNow,
.ForecastHour {
  font-weight: bold;
}
.TodayCol1,
.TodayCol2 {
  text-align: left;
}
.weatherNow {
  max-height: 70px;
}
.CityName {
  font-size: 26px;
}
.TemperatureNow {
  font-size: 50px;
}
.RangeTemperatureToday {
  font-size: 18px;
}
#iconToday {
  max-height: 80px;
  max-width: 60px;
  margin-bottom: 28px;
}
.dataToday {
  font-size: 12px;
}
.Hidden {
  color: #212121;
  text-decoration: none;
}
.Hidden:hover {
  cursor: arrow;
  color: #212121;
  text-decoration: none;
}

.ForecastBox,
.WeatherDataNow {
  opacity: 0.9;
}

.ForecastBox {
  line-height: 1.2;
  margin: auto;
  transition: 300ms ease-in-out;
}
.WeatherDataNow,
.ForecastBox:hover {
  background-color: #cceffc;
  color: #212121;
  border-radius: 5px;
  border: solid 1px #212121;
  cursor: pointer;
}
.ForecastHour {
  margin: 2px 0;
}
.IconDay {
  max-width: 35px;
  margin: 0;
}
#celsiusToday,
#fahrenheitToday {
  position: relative;
  top: -30px;
}
#celsiusToday:hover,
#fahrenheitToday:hover {
  cursor: pointer;
}
#weatherDescription {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}
#github-link {
  color: #212121;
}
