body {
  background-color: #212121;
}
input,
#current-city {
  margin: 10px 5px;
}
input,
.container,
.Tomorrow,
#current-city {
  border: solid 2px #f5f5f5;
  border-radius: 5px;
  box-shadow: 1px 1px #212121;
}
hr {
  color: #000;
  border: solid 1px #000;
  text-shadow: 1px 1px #212121;
}

.container {
  max-width: 500px;
  background-color: #a5dfef;
  font-family: "Comfortaa", cursive;
  text-align: center;
  color: #000;
  margin: 20px 0;
}

.button {
  background-color: #f5f5f5;
  color: #212121;
  padding: 2px 4px;
  box-shadow: 1px 1px #212121;
  transition: 300ms ease-in-out;
}
.button:hover {
  opacity: 0.4;
}
.NameApp {
  padding: 15px;
  font-size: 19px;
}
.NameApp,
.CityName,
.TemperatureNow,
.DayName {
  font-weight: bold;
}
.TodayCol1,
.TodayCol2 {
  text-align: left;
}
.weatherNow {
  max-height: 70px;
}
.CityName {
  font-size: 26px;
}
.TemperatureNow {
  font-size: 60px;
}
.RangeTemperatureToday {
  font-size: 20px;
}
#iconToday {
  max-height: 80px;
  margin-bottom: 28px;
}
.dataToday {
  font-size: 12px;
  text-align: left;
}
.Hidden {
  color: #000;
  text-decoration: none;
}
.Hidden:hover {
  cursor: default;
  color: #000;
  text-decoration: none;
}
.TomorrowName {
  margin-top: 30px;
  font-size: 18px;
}
.DayBox,
.Tomorrow {
  opacity: 0.9;
}
.RangeTemperatureTomorrow {
  font-size: 20px;
}
.DayBox {
  line-height: 1.2;
  margin: auto;
  transition: 300ms ease-in-out;
}
.Tomorrow,
.DayBox:hover {
  background-color: #f5f5f5;
  color: #212121;
  border-radius: 5px;
  border: solid 1px #000;
  cursor: pointer;
}
.DayName {
  margin: 4px 0;
}
.IconDay {
  max-width: 35px;
  margin: 0;
}
#celsiusToday,
#fahrenheitToday {
  position: relative;
  top: -30px;
}
#celsiusToday:hover,
#fahrenheitToday:hover {
  cursor: pointer;
}
#weatherDescription {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}
#github-link {
  color: #000;
}
